################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyApp/.vs/MyApp/DesignTimeBuild/.dtbcache.v2
/MyApp/.vs/MyApp/FileContentIndex
/MyApp/.vs/MyApp/v17/.suo
