################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyApp/.vs/MyApp/DesignTimeBuild/.dtbcache.v2
/MyApp/.vs/MyApp/FileContentIndex
/MyApp/.vs/MyApp/v17/.suo
/MyApp/.vs/MyApp/config/applicationhost.config
/MyApp/bin/Debug/net6.0/MyApp.deps.json
/MyApp/bin/Debug/net6.0
/MyApp/obj/Debug/net6.0/ref
/MyApp/obj/Debug/net6.0/refint
/MyApp/obj/Debug/net6.0/staticwebassets/msbuild.build.MyApp.props
/MyApp/obj/Debug/net6.0/staticwebassets
/MyApp/obj/Debug/net6.0/apphost.exe
/MyApp/obj/Debug/net6.0/staticwebassets.build.json
/MyApp/obj/Debug/net6.0/MyApp.pdb
/MyApp/obj/Debug/net6.0/MyApp.MvcApplicationPartsAssemblyInfo.cache
/MyApp/obj/Debug/net6.0/MyApp.genruntimeconfig.cache
/MyApp/obj/Debug/net6.0/MyApp.dll
/MyApp/obj/Debug/net6.0/MyApp.csproj.FileListAbsolute.txt
/MyApp/obj/Debug/net6.0/MyApp.csproj.CoreCompileInputs.cache
/MyApp/obj/Debug/net6.0/MyApp.csproj.BuildWithSkipAnalyzers
/.vs/slnx.sqlite
